{
 :sftp {
        :username  ""
        :password ""
        :host ""
        }
 :db {
      :username ""
      :password ""
      :address "localhost"
      :port "1433"
      :name ""
      :tables [
               ""
               ""
               ""
               ""
               ]
      }
 }
